.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background: rgb(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.body {
    margin-top: 12px;
    color: #161823;
}

.nickname {
    font-size: 1.8rem;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    margin-top: 10px;
    font-size: 1.6rem;
}

.icon-check {
    margin-left: 5px;
    color: rgb(32, 213, 236);
}

.value~.label {
    margin-left: 20px;
}

.label {
    color: #161823bf;
}